VAULT_URL=http://localhost:8200
VAULT_TOKEN=root token of vault you get after init
VAULT_KEY_NAME=transit key name

DB_HOST=localhost
DB_PORT=5432
DB_USER=ekyc_admin
DB_PASSWORD=SuperStrongPass!No1
DB_NAME=ekyc_matrix
JWT_SECRET=any_random_secret_string_for_jwt
